a:focus {
    outline:none;
    -moz-outline:none;
} 

#logn_in{
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	width:500px;
	height:300px;
}

#title{
	width:500px;
	margin-top:20px;
	font-family:"宋体";
	font-size:22px;
}


.button{
	float:right; 
	margin-right:400px;  
	background:#aaaaaa;
	cursor:pointer;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	font-family:"arial";
    font-size:18px;
	width:100px;
	height:30px;
	border:1px solid #cccccc;
    color:#707070;
} 

.button:hover{
    background:#888888;
}

form.cmxform {
	width: 850px;
    padding:20px;
	margin-top:-20px;
}
  
form.cmxform legend {
	padding-left: 0;
    color:#fff;
    font-size:14px;
    padding:0px 4px 15px 4px;
    margin-left:20px;
    font-weight:bold;
}

form.cmxform label{
	font-family:"宋体";
    font-size: 22px;    
	font-weight: bold;       
    text-align: left;
    clear:left;
    margin:4px 4px 0px 0px;            
    color: #888888;
}

#user_name,#user_pwd{
    font-family:"宋体";
    font-size:18px;
    float:right;   
	margin-right:400px;           
    border:1px solid #cccccc;
    color:#707070;
    height:25px;
	width:220px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

form.cmxform input:focus,form.cmxform2 input:focus,form.cmxform select:focus{
    background-color:#E0E6FF;
}      

form.cmxform fieldset p, form.cmxform2 fieldset p,form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
}

form.cmxform label.error,form.cmxform2 label.error, label.error {
	color: red;
	font-size:16px;
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }
